<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div *ngIf="cartItems.length > 0">
        <table class="table table-bordered">
          <tr>
            <th scope="col" width="20%">Imaginea produsului</th>
            <th width="50%">Detalii produs</th>
            <th width="30%"></th>
          </tr>

          <tr *ngFor="let tempCartItem of cartItems">
            <td>
              <img
                src="{{ tempCartItem.imageUrl }}"
                class="img-responsive"
                width="150px"
              />
            </td>
            <td>
              <p>{{ tempCartItem.name }}</p>
              <p>{{ tempCartItem.unitPrice }} RON </p>
            </td>
            <td>
              <div class="items">
                <label>Cantitate:</label> 
                <div class="row no gutters">
                    <div class ="col">
                        <button (click)="incrementQuantity(tempCartItem)"  class="btn1 btn-primary btn-sm">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>

                    <div class="col ml-4 mr-2">
                        {{tempCartItem.quantity}}
                    </div>

                    <div class ="col">
                        <button (click)="decrementQuantity(tempCartItem)" class="btn2 btn-primary btn-sm">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>

                    <div class="col-8"></div>
                </div>
              </div>

              <div class ="col">
              <button (click)="remove(tempCartItem)" class="btn3 btn-primary btn-sm">Elimină din coș</button>
            </div>

              <p class="mt-2">
                Subtotal:
                {{
                  tempCartItem.quantity * tempCartItem.unitPrice
                }} RON
              </p>
            </td>
          </tr>

          <tr>
            <td colspan="2"></td>
            <td style="font-weight: bold">
              <p>Cantitatea totală: {{ totalQuantity }}</p>
              <p>Livrare: GRATUITĂ</p>
              <p>Prețul total: {{ totalPrice }} RON</p>
              <div class ="col">
              <a routerLink="/checkout" class="btn btn-primary">Mergi la casă</a>
            </div>
            </td>
          </tr>
        </table>
      </div>

      <div
        *ngIf="cartItems.length == 0"
        class="alert alert-warning col-md-12"
        role="aler"
      >
        Coșul tău de cumpărături este gol.
      </div>
    </div>
  </div>
</div>
