

/* .btn1{ 
    background: linear-gradient(to right, #56ab2f, #a8e063);
}

.btn2{ 
    background: linear-gradient(to right, #ff5f6d, #ffc371);
}

.btn3{ 
    background: linear-gradient(to right, #ed213a, #93291e);
} */

.btn{ 
    background: linear-gradient(to right, #457fca, #5691c8);
}
